1. Given a range of first 10 numbers, Iterate from start number to the end number and print the 
sum of the current number and previous number.

In [1]:
prev = 0
for i in range(1,11):
    current = i+prev
    print(f"current no:{current} and previous {prev} and there sum is {i+prev}")
    prev = i

current no:1 and previous 0 and there sum is 1
current no:3 and previous 1 and there sum is 3
current no:5 and previous 2 and there sum is 5
current no:7 and previous 3 and there sum is 7
current no:9 and previous 4 and there sum is 9
current no:11 and previous 5 and there sum is 11
current no:13 and previous 6 and there sum is 13
current no:15 and previous 7 and there sum is 15
current no:17 and previous 8 and there sum is 17
current no:19 and previous 9 and there sum is 19

2. Given a string, display only those characters which are present at an even index number.

In [3]:
Str = input("Enter a string: ")
print(Str[::2])

Enter a string: SumitMund
Smtud

3 .Given a string and an integer number n, remove characters from a string starting from zero up 
to n and return a new string.

In [4]:
Str = input("Enter a string: ")
n = int(input("Enter the no(index) upto you want to remove"))
Str1 = Str[n+1:]
print(Str1)

Enter a string: sammund
Enter the no(index) upto you want to remove1
mmund

4. Given a list of numbers, return True if first and last number of a list is same.

In [5]:
l1 = input("Enter a list (by space)").split()
if int(l1[0])==int(l1[-1]):
    print("True")
else:
    print("False")

Enter a list (by space)1 2 3 45 5 6 1
True

5. Given a list of numbers, Iterate it and print only those numbers which are divisible of 5.

In [6]:
l2 = input("Enter a list (by space)").split()
for i in l2:
    if int(i)%5==0:
        print(i)

Enter a list (by space)1 2 3 4 5 6 7 8 9 0
5
0

6. Return the total count of sub-string  appears in the given string.

In [9]:
l3 = input("Enter the SuperString ")
l4 = input("Enter the Substring ")
print(l3.count(l4))

Enter the SuperString sammundsam
Enter the Substring sa,
0

7.Given a two list of numbers create a new list such that new list should contain only odd 
numbers from the first list and even numbers from the second list.

In [14]:
l1 = input("Enter the first list(by space): ").split()
l2 = input("Enter the Second list(by space): ").split()
new_list[::]=l1[1::2]+l2[::2]

print(new_list)

Enter the first list(by space): sam
Enter the Second list(by space): ram
['ram']

8. Given a list iterate it and display numbers which are divisible by 5 and if you find number 
greater than 150 stop the loop iteration.

In [16]:
l1 = input("Enter a list:(by space)").split()

for i in l1:
    if int(i)>150:
        break
    if int(i)%5==0:
        print(i)

Enter a list:(by space)1 25 23 4 5 6 150
25
5
150

9. Use a loop to display elements from a given list which are present at even positions.

In [25]:
items = (input("Enter the list: ")).split() 
if not items: 
    print("The list is empty.") 
else: 
    print("Elements at even positions (0, 2, 4, ...):") 
    for i in range(len(items)): 
        if i % 2 == 0: 
            print(f"Index {i}: {items[i]}")

Enter the list: s a n n  s d f
Elements at even positions (0, 2, 4, ...):
Index 0: s
Index 2: n
Index 4: s
Index 6: f

10. Find the sum of the series 2 +22 + 222 + 2222 + .. n terms.  in python  with list we have to display like that

In [7]:
n = int(input("Enter number of terms: "))

terms = []
display_parts = []

for i in range(1, n + 1):
    num_str = '2' * i          
    num = int(num_str)
    terms.append(num)
    display_parts.append(num_str)

series_display = " + ".join(display_parts)

total = sum(terms)

print("\nSeries:")
print(series_display)

print("\nSum =", total)

Enter number of terms: 3

Series:
2 + 22 + 222

Sum = 246

11. Given a two list. Create a third list by picking an odd-index element from the first list and even 
index elements from second.

In [16]:
l1 = input("enter l1").split()
l2 = input("enter l2").split()


l3 = []

for i in range(len(l1)):
    if i % 2 != 0:
        l3.append(l1[i])

for i in range(len(l2)):
    if i % 2 == 0:
        l3.append(l2[i])

print("Resulting list l3:", l3)

enter l11 2 3 4
enter l22 3 4 5 6 7
Resulting list l3: ['2', '4', '2', '4', '6']

12 .Given an input list removes the element at index 4 and add it to the 2nd position and also, at 
the end of the list.

In [18]:
l1 = input("Enter a list").split()
ele = input()
ele = l1.pop(4)
l1.insert(2,ele)
l1.append(ele)
print(l1)

Enter a lists a m s  d f g
s
['s', 'a', 'd', 'm', 's', 'f', 'g', 'd']

Given a list slice it into a 3 equal chunks and reverse each list.

In [19]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]  
if len(lst) % 3 != 0:
    print("List length must be divisible by 3")
else:
    chunk_size = len(lst) // 3
    chunks = [lst[i:i+chunk_size] for i in range(0, len(lst), chunk_size)]
    reversed_chunks = [chunk[::-1] for chunk in chunks]
    print(reversed_chunks)

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

Given a two list of equal size create a set such that it shows the element from both lists in the 
pair.

In [26]:
list1 = [1, 2, 3]  
list2 = ['a', 'b', 'c']
if len(list1) != len(list2):
    print("Lists must be of equal size")
else:
    pairs = set(zip(list1, list2))
    print(pairs)

{(2, 'b'), (3, 'c'), (1, 'a')}

Given a string of odd length greater 7, return a string made of the middle three chars of a 
given String

In [27]:
l = input("enter the string: ")
mid=len(l)//2
print(l[mid-1:mid+1])

enter the string: sammund
mm

. Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1.

In [32]:
s1 = input("Enter s1")
s2 = input("Enter s2")
mid = len(s1)//2
s = s1[:mid]+s2+s1[mid:]
print(s)

Enter s1sammund
Enter s2ssss
samssssmund

Given 2 strings, s1, and s2 return a new string made of the first, middle and last character of  
each input string.

In [33]:
s1 = input("Enter s1")
s2 = input("Enter s2")
mid1 = s1[len(s1)//2]
mid2 = s2[len(s2)//2]
new_s = s1[0]+mid1+s1[-1]+s2[0]+mid2+s2[-1]
print(new_s)

Enter s1sammund
Enter s2mundsam
smdmdm

18. Arrange string characters such that lowercase letters should come first.

In [34]:
s1 = input("Enter s1")
u=""
l=""
for char in s1:
    if char.islower():
          l+=char
    else:
        u+=char
print(l+u)

Enter s1sAmsSNys
smsysASN

19. Count all lower case, upper case, digits, and special symbols from a given string.

In [36]:
s1 = input("Enter s1")
u=0
l=0
dig=0
special=0
for char in s1:
    if char.islower():
        l+=1
    elif char.isupper():
        u+=1
    elif char.isdigit():
        dig+=1
    else:
        special+=1
        
print("lower: ",l)
print("uppwe: ",u)
print("digit: ",dig)
print("special: ",special)

Enter s1samIndsdiM898%^$
lower:  8
uppwe:  2
digit:  3
special:  3

. Given a string, return the sum and average of the digits that appear in the string, ignoring all 
other characters.

In [38]:
s1 = input("Enter s1")
sum=0
count=0
for char in s1:
    if char.isdigit():
          sum+=int(char)
          count+=1
    
print("avrage",sum/count)

Enter s1gsdso2114534678yfds
avrage 4.1

1. Write a Python program to remove duplicates from a list

Enter elements separated by spaces: s

TypeError: 'list' object is not callable