1. Create a tuple with different data and create an empty tuple using built-in
function

In [2]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
print(my_tuple)

my_tuple1 = tuple()
print(type(my_tuple1))
print(my_tuple1)

Enter the tuple separated by comma: 1,2,3,'sam','mund',['sam',1]
(1, 2, 3, 'sam', 'mund', ['sam', 1])
<class 'tuple'>
()

2.  Print the 3rd element from beginning and 4th element from end of a tuple.

In [3]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
print(my_tuple[2])
print(my_tuple[-4])

Enter the tuple separated by comma: 1,2,3,4,5,6,7,8
3
5

3. Count the number of items present in a tuple and then add two new items
 into it (one item using concatenation operator and another item using built-in
 function).

In [1]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
print(len(my_tuple))
my_tuple = my_tuple + (5,)
print(my_tuple)
temp = list(my_tuple)
temp.append(6)
my_tuple = tuple(temp)
print(my_tuple)

Enter the tuple separated by comma: 1,2,3,4
4
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

4. Find the number of occurrences for any repeated item present in a tuple.

In [23]:
from collections import Counter
my_tuple = (1, 2, 2, 3, 4, 2, 1, 4, 5, 4)
item_counts = Counter(my_tuple)

print("Repeated items and their occurrences:")
for item, count in item_counts.items():
    if count > 1:
        print(f"Item {item} appears {count} times")

Repeated items and their occurrences:
Item 1 appears 2 times
Item 2 appears 3 times
Item 4 appears 3 times

5. Display the elements present in a tuple which are at the even position.

In [10]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
print(my_tuple[::2])

Enter the tuple separated by comma: 1,2,3,4,5,6,7,8,9,0
(1, 3, 5, 7, 9)

6. Remove the elements of a tuple which are present in the odd index position.

In [5]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
my_tuple = tuple([my_tuple[t] for t in range(len(my_tuple)) if t%2==0])
print(my_tuple)

Enter the tuple separated by comma: 1,2,3,4,5,6,7,8
(1, 3, 5, 7)

7. Remove the odd number elements from a tuple.

In [6]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
my_tuple = tuple([t for t in my_tuple if t%2==0])
print(my_tuple)

Enter the tuple separated by comma: 1,2,3,4,5,6,7
(2, 4, 6)

8. Reverse the elements of a tuple by using and without using a built-in function.

In [29]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
print(tuple(reversed(my_tuple)))
my_tuple = tuple(my_tuple[::-1])
print(my_tuple)

Enter the tuple separated by comma: 1,2,3,4,5,6,7
(7, 6, 5, 4, 3, 2, 1)
(7, 6, 5, 4, 3, 2, 1)

9. Sort the elements present in a tuple in descending order.

In [31]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
print(tuple(sorted(my_tuple,reverse=True)))

Enter the tuple separated by comma: 1,2,3,1,2,3,4
(4, 3, 3, 2, 2, 1, 1)

10. Take a tuple of mixed data types and find the square of each element.

In [32]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
for i in my_tuple:
    if isinstance(my_tuple,(int,float,list)):
        print(i**2)
    else:
        print(i+i)

Enter the tuple separated by comma: 1,'s',[1,3]
2
ss
[1, 3, 1, 3]

11 .Given few numbers in a tuple, return ‘True’ if the first and last numbers are
 same. `

In [1]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
if my_tuple[0]==my_tuple[-1]:
    print('True')
else:
    print('False')

Enter the tuple separated by comma: 1,2,3,4,5,1
True

12. Print only those elements present in a tuple which are divisible by 5.

In [3]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
my_tuple = tuple([t for t in my_tuple if t%5==0])
print(my_tuple)

Enter the tuple separated by comma: 1,2,3,4,5,15,12,12,15,12
(5, 15, 15)

 numbers, create another tuple such that it contains only the
 even numbers of the first tuple.

In [4]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
my_tuple = tuple([t for t in my_tuple if t%2==0])
print(my_tuple)

Enter the tuple separated by comma: 1,2,3,4,5,6,7,8,9
(2, 4, 6, 8)

 14 .Display the largest number of a tuple without using the built-in function
 max().The user need to input the values in tuple from the keyboard

In [5]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
largest = my_tuple[0]
for t in my_tuple:
    if t>largest:
        largest=t
print(t)

Enter the tuple separated by comma: 1,2,3,1,2,3,4,5,5
5

15 .lace the last value of the tuple with 100.
 Sample list: [(1, 2, 3), (4, 5, 6), (7, 8, 9)] Output: [(1, 2, 100), (4, 5, 100),
 (7, 8, 100)]

In [22]:
my_tuple = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] 
my_tupel = tuple(tuple(list(items)[:-1] + [100]) for items in my_tuple)
print(my_tupel)

((1, 2, 100), (4, 5, 100), (7, 8, 100))

 16. Sort a tuple by its float element. Sample data: [('item1', '12.20'), ('item2',
 '15.10'), ('item3', '24.5')] Output: [('item3', '24.5'), ('item2', '15.10'),
 ('item1', '12.20')]

In [37]:
my_tuple = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

def get_price(item):
    return float(item[1])

sorted_tuple = sorted(my_tuple, key=get_price)
print(sorted_tuple)

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

17. Count the number of elements in a tuple until an element is a list.

In [20]:
my_tuple = tuple(eval(input("Enter the tuple separated by comma: ")))
count=0
for t in my_tuple:
    if type(t)==list:
        break
    count+=1

print(count)

Enter the tuple separated by comma: 1,2,3,4,[1,2]
4

 Swap the two tuples: tuple1 = (11, 22) tuple2 = (99, 88)
 Output: tuple1 = (99, 88) tuple2 = (11, 22)

In [12]:
t1,t2  = (11,22),(99,88)
t1,t2= t2,t1
print(t1)
print(t2)

(99, 88)
(11, 22)